@import "tailwindcss";
@plugin "daisyui";

html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(15,23,43);
}
nav{
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.navbar{
  background-color: #122ac9;
}
.profil{
  color: white;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 5px;
  transition: background-color 0.5s cubic-bezier(0.53, 0.53, 0.27, 1.00), box-shadow 0.5s cubic-bezier(0.53, 0.53, 0.27, 1.00);
}
.profil:hover{
  background-color: #5348d381;
  box-shadow: -3px 4px 10px #000000;
}

.menu{
  background-color: #122ac9;
  border-radius: 0px 0px 10px 10px;
}
.Drop{
  background-color: #122ac9;
  border: none;
  box-shadow: none;
}
.Drop:hover, .Drop:focus{
  background-color: #5348d381;
  box-shadow: -3px 4px 10px #1f2087;
}
.Pro{
  background-color: #122ac9;
}

h1{
  pointer-events: none;
}
/********************* 1er Section ***************************/



/* FOOTER */
footer{
  position: relative;
  bottom: 0px;
  background-color: #122ac9;
  color: white;
}

.social{
  margin-left: 10px;
}